* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
  background-color: #00C040;
  color: floralwhite;
  text-align:center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* SECCION DE BANNERS ANIMADOS*/
.base{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cb1{
    max-width: 600px;
}

.cb2{
    max-width: 600px;
}

.cb2 h4{
    font-size: 25px;
    color: #00C040;
}

/* ESTILOS DE ESTADIAS */
b{
    font-size: 25px;
    font-family: sans-serif;
    color: #00C040;
}
.content_btn {
    width: 18%;
    background-color: #FFFF;
    border-radius: 5px;
}